body
{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #333;
  background-color: #f2f2f2;
}

header,
main,
footer {
  box-shadow:
  0px 0px 20px 0 #a9a9a9;
  /* 40px 0 0 0 #f2f2f2,
  -40px 0 0 0 #f2f2f2; */
 }

/* img {
  max-width: 100%;
  height: auto;
} это плохо сказывается на картинках отелей в ie и edge */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a
{
  text-decoration: none;
}

.main-navigation
{ position: relative;
  font-weight: bold;
  line-height: 26px;

  color: #000;
  background-color: #fff;
}

.site-navigation
{
  list-style: none;
}

.site-navigation a
{
  color: #000;
}

.site-navigation a:hover
{
  color: #81b3d2;
}

.site-navigation a:active
{
  color: rgba(0, 0, 0, .3);
}

.site-navigation .current-page,
.site-navigation .current-page:hover,
.site-navigation .current-page:active
{
  color: #766357;
}

.index-top
{ position: relative;
  width: 1200px;
  height: 509px;

  text-align: center;

  background-color: #81b3d2;
  background-image:
    url("../img/polygon.svg"),
    url("../img/background-photo.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    0 453px,
    0 -82px;
}

.index-top img
{
  position: absolute;
  top: 76px;
  left: 370px;
}

.advantages h2,
.advantages h4 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  text-align: center;

  color: #000;
}

.advantages ul {
  list-style: none;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;

  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;;
  background-color: #81b3d2;
}

.advantages-item div {
  display: block;
  width: 402px;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout1 {
  padding-left: 60px;
  padding-right: 60px;
}

.layout2 {
  padding-left: 48px;
  padding-right: 49px;
}

.layout1 h3,
.layout2 h3 {
  padding: 0 40px;
  margin: 0;
  margin-bottom: 25px;
}

.layout1 span,
.layout2 span {
  display: block;
  margin-bottom: 20px;
}

.advantages-item-add {
  text-align: center;
  background-color: #eeeeee;
  color: #333333;
  width: 400px;
  box-sizing: border-box;
}

.advantages-item-add h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0 44px;
}

.advantages-item-add p {
  margin: 0;
}

.first-add {
  padding: 47px 96px 60px 94px;
}

.first-add h3 {
  margin-bottom: 25px;
}

.first-add span {
  display: block;
  margin-bottom: 21px;
}

.second-add {
  padding: 47px 68px 60px 68px;
}

.second-add h3 {
  margin-bottom: 25px;
}

.second-add span {
  display: block;
  margin-bottom: 21px;
}

.third-add {
  padding: 47px 75px 60px 77px;
}

.third-add h3 {
  margin-bottom: 25px;
}

.third-add span {
  display: block;
  margin-bottom: 21px;
}

.advantages-item h3 {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
}

.advantages-addition {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
}

.first {
  padding-left: 73px;
  padding-right: 75px;
  padding-top: 60px;
  padding-bottom: 68px;
}

.first h4,
.second h4,
.third h4 {
  margin-top: 21px;
  margin-bottom: 22px;
}

.second {
  padding-left: 58px;
  padding-right: 57px;
  padding-top: 61px;
  padding-bottom: 68px;
}

.third {
  padding-left: 64px;
  padding-right: 63px;
  padding-top: 56px;
  padding-bottom: 68px;
}

.search-hotel {
  position: relative;
}

.search-title
{
  display: flex;
  flex-direction: column;

  width: 1200px;

  text-align: center;
  background-color: #fff;
}

.search-title p
{
  align-self: center;
  line-height: 24px;

  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
}

.filter p:first-child {
  margin-top: 0;
  margin-bottom: 16px;
}

.filter p:last-child {
  margin: 0;
}

.search-title h2 {
  margin-top: 50px;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.main-footer
{
  background-color: rgba(250, 250, 250, .9);
  padding: 36px 0;
  box-sizing: border-box;
}

.hashtagsedona
{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 132px;
  text-align: center;
  margin-right: 256px;
  margin-top: -4px;
  color: #000;
}

.footer-social
{
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-right: 223px;
}

.footer-copyright span {
  display: inline-block;
}

.social-button
{
  display: inline-block;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.twitter
{
  background-image: url('../img/twitter-icon.svg');
}

.twitter:active {
  background-image: url("../img/twitter-icon-active.svg");
}

.facebook
{
  background-image: url('../img/fb-icon.svg');
}

.facebook:active
{
  background-image: url('../img/fb-icon-active.svg');
}

.youtube
{
  background-image: url('../img/youtube-icon.svg');
}

.youtube:active
{
  background-image: url('../img/youtube-icon-active.svg');
}

.footer-copyright
{
  color: #000;
  line-height: 26px;
}

.footer-copyright svg {
  position: absolute;
  display: block;

  top: 39px;
  right: 100px;
}

.footer-copyright:hover path,
.footer-copyright:hover rect {
  fill: #81b3d2;
}

.footer-copyright:active path,
.footer-copyright:active rect {
  fill: #bdbbbc;
}

.hotels-list
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-name:hover
{
  color: #81b3d2;
}

.hotel-name:active
{
  color: rgba(0, 0, 0, .3);
}

.hotels-list-item .acomodation-type,
.hotels-list-item .price
{
  text-align: left;
}

.hotels-list-item .rating
{
  text-align: center;

  color: #666;
  background-color: #f2f2f2;
}

.amara-stars
{
  height: 17px;
  margin-top: 29px;
  margin-bottom: 47px;

  background-image: url('../img/star.svg'), url('../img/star.svg'), url('../img/star.svg'), url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: 22px, 45px, 68px, 91px;
}

.desert-stars
{
  height: 17px;
  margin-top: 29px;
  margin-bottom: 47px;

  background-image: url('../img/star.svg'), url('../img/star.svg'), url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: 45px, 68px, 91px;

  align-self: flex-end;
}

.villas-stars
{
  height: 17px;
  margin-top: 29px;
  margin-bottom: 47px;

  background-image: url('../img/star.svg'), url('../img/star.svg');
  background-repeat: no-repeat;
  background-position: 68px, 91px;

  align-self: flex-end;
}

.button
{
  font-weight: bold;

  text-align: center;

  color: #fff;
}

.inner-layout3 a {
  display: block;
  box-sizing: border-box;
}

.button-details
{
  min-width: 110px;
  margin-right: 6px;
  background-color: #81b3d2;
  padding: 4px 13px;
}

.button-book
{
  min-width: 142px;
  padding: 4px 13px;

  background-color: #766357;
}

.button-details:hover
{
  background-color: #669ec0;
}

.button-details:active
{
  color: rgba(255, 255, 255, .3);
  background-color: #5496bd;
}

.button-book:hover
{
  background-color: #604e43;
}

.button-book:active
{
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.calendar-button
{
  width: 21px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
  vertical-align: middle;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  background-image: url('../img/calendar-quiet.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-button:hover {
  background-image: url('../img/calendar.svg');
}

.calendar-button:active {
  background-image: url('../img/calendar-active.svg');
  outline: none;
}

.calendar-button:focus {
  /* background-image: url('../img/calendar-active.svg'); */
  outline: none;
}

.container
{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.main-navigation
{
  display: flex;
}

.site-navigation
{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;

  background-color: #fff;
}


.site-navigation li
{
  line-height: 56px;
  box-sizing: border-box;
  width: 239px;
  /* text-align: center; */
}

.site-navigation li:nth-child(2)
{
  margin-right: auto;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 73px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 76px;
}

.site-navigation a
{
  display: block;
}

.main-navigation-logo
{
  position: absolute;
  z-index: 10;
  left: 478px;

  display: block;

  width: 244px;
  height: 56px;

  text-align: center;
}

.map
{
  height: 593px;

  background-image: url(../img/map.png);
  background-repeat: no-repeat;

  margin-bottom: -120px;
}

.advantages-title
{
  display: flex;
  flex-direction: column;

  width: 1200px;

  background-color: #fff;
  background-repeat: no-repeat;
  }

.advantages-title h2
{
  width: 441px;

  margin-top: 59px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.advantages-title p
{
  width: 498px;
  margin-right: auto;
  margin-bottom: 53px;
  margin-left: auto;

  text-align: center;
}

.main-footer
{
  position: relative;
  display: flex;

  width: 1200px;
  height: 120px;
  align-items: center;
}

.footer-social li
{
  margin-right: 6px;
}

.filter
{
  position: absolute;
  left: 316px;

  font-weight: bold;

  display: flex;

  width: 568px;
  min-height: 395px;
  padding: 55px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, .15);

  flex-wrap: wrap;
  justify-content: space-between;
}

.general-button
{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 568px;
  height: 86px; /*заменить на паддинги? вроде хорошо переполняется*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #766357;
}

.filter-date {
  position: relative;
}

.filter-date input
{
  width: 343px; /*подгон*/
  height: 38px;
  box-sizing: border-box;
  padding: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
  color: #000;
}

.arrival-date {
  margin-right: 20px;
}
.departure-date {
  margin-right: 17px;
}

.filter input:hover {
  background-color: #ebebeb;
  outline: none;
}

.filter input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.filter-person-number {
  display: flex;
  align-items: center;
}

.filter-person-number input
{
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  text-align: center;
  background-color: #f2f2f2;
  outline: none;
  color: #000;
  font-weight: bold;
}

.button-find
{
  font-size: 21px;
  font-weight: bold;

  width: 458px;

  padding: 17px 197px 18px 196px;
  margin-top: 41px;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #81b3d2;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.general-button:hover {
  background-color: #604e43;
  outline: none;
}

.general-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.number-of-adults {
  margin-right: 41px;
}

.number-of-children {
  margin-right:27px;
 }


.button-sign
{
  font-size: 24px;

  font-weight: bold;

  width: 38px;
  height: 38px;


  color: #b8b4b4;
  border: none;
  background-color: #f2f2f2;
}

.button-sign:hover {
  color: #000;
  outline: none;
}

.button-sign:active {
  color: #81b3d2;
  border: none;
  outline: none;
}

.filters
{
  width: 1200px;
  height: 217px;
  background-color: #81b3d2;
  background-image: url(../img/filter-background.png);
  background-repeat: no-repeat;
  background-position: 0 -300px;
}

.filter-inner
{
  display: flex;

  width: 1200px;

  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 27px;
  padding-bottom: 7px;
}

.filter-inner fieldset:nth-child(2)
{
  margin-right: auto;
}

.filter-inner fieldset
{
  color: #fff;
  border: none;
  padding: 0;
}

.filter-inner legend {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-inner ul
{
  list-style: none;
}

.infrastructer-filter input {
  width: 23px;
  height: 23px;
  border: 1px solid #fff;
}

.accomodation-type-filter  input {
  width: 23px;
  height: 23px;
  border: none;
}

.infrastructer-filter legend {
  margin-right: 115px;
}

.infrastructer-filter li {
  position: relative;
}

.infrastructer-filter label,
.accomodation-type-filter label {
  cursor: pointer;
}

.infrastructer-filter label:before,
.accomodation-type-filter label:before {
  content: "";
  display: block;
  width: 28px;
  height: 24px;
  position: absolute;
  top: -1px;
  left: -40px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

#pool-id:checked + label:before,
#parking-id:checked + label:before,
#wi-fi-id:checked + label:before,
#hotel-id:checked + label:before,
#motel-id:checked + label:before,
#apartment-id:checked + label:before {
  content: "";
  display: block;
  width: 28px;
  height: 24px;
  position: absolute;
  top: -1px;
  left: -40px;
  background: url("../img/checkbox-on.svg") no-repeat;
}

#pool-id:disabled + label:before,
#parking-id:disabled + label:before,
#wi-fi-id:disabled + label:before,
#hotel-id:disabled + label:before,
#motel-id:disabled + label:before,
#apartment-id:disabled + label:before {
  content: "";
  display: block;
  width: 28px;
  height: 24px;
  position: absolute;
  top: -1px;
  left: -40px;
  background: url("../img/checkbox-off-disabled.svg") no-repeat;
}

#pool-id:checked:disabled + label:before,
#parking-id:checked:disabled + label:before,
#wi-fi-id:checked:disabled + label:before,
#hotel-id:checked:disabled + label:before,
#motel-id:checked:disabled + label:before,
#apartment-id:checked:disabled + label:before {
  content: "";
  display: block;
  width: 28px;
  height: 24px;
  position: absolute;
  top: -1px;
  left: -40px;
  background: url("../img/checkbox-on-disabled.svg") no-repeat;
}

.price-filter {
  width: 319px;

  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  line-height: 32px;

  cursor: pointer;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 68px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-inner li {
  position: relative;
  margin-bottom: 25px;
}

.results-sorting {
  display: flex;
  width: 1200px;
  padding: 24px 60px 20px 72px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.sorting
{
  display: flex;
  flex-wrap: wrap;
  width: 1013px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 47px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  align-self: center;
  margin-right: 40px;
}

.sorting-item .current-sorting-item {
  color: #81b3d2;
  border: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000;
  border: none;
}

.sorting-item {
  list-style: none;
  padding: 0;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.sorting-item li {
  margin-right: 33px;
}

.filters-results {
  align-self: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-bottom: 5px;
}

.filters-results span {
  display: inline-block;
  width: 117px;
}

.arrows {
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 3px;
}

.arrows li {
  margin-right: 12px;
}

.arrow-up {
  width: 11px;
  height: 10px;
  background:
  url("../img/icon-up-dir-quiet.svg") no-repeat;
}

.arrow-down {
  width: 11px;
  height: 10px;
  background:
  url("../img/icon-down-dir-quiet.svg") no-repeat;
}

.current-arrow {
  background:
  url("../img/icon-down-dir-active.svg") no-repeat;
}

.arrow-up:hover {
  background:
  url("../img/icon-up-dir.svg") no-repeat;
}
.arrow-down:hover {
  background:
  url("../img/icon-down-dir.svg") no-repeat;
}

.arrow-up:active {
  background:
  url("../img/icon-up-dir-active.svg") no-repeat;
}
.arrow-down:active {
  background:
  url("../img/icon-down-dir-active.svg") no-repeat;
}

.hotels ul
{
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.hotels-list li
{
  display: flex;

  width: 1055px;
  padding-right: 73px;
  padding-left: 72px;
  border-bottom: 1px solid #f2f2f2;
}

.inner-layout1 {
  margin-right: auto;
  padding-top: 26px;
}

.inner-layout1 a {
  color: #000;
}

.inner-layout1 h2 {
  margin: 0;
  margin-bottom: 11px;
}

.inner-layout2 {
  margin-bottom: 14px;
}

.inner-layout3
{
  display: flex;
  margin: 0;
}

.inner-layout3 a {
  color: #fff;
}

.layout4
{
  display: flex;
  margin-right: 73px;
  width: 110px;
}

.accomodation-type {
  display: inline-block;
  min-width: 110px;
}

.rating
{ display: block;
  text-align: center;
  line-height: 27px;
  width: 110px;
  height: 27px;
  margin-bottom: 30px;

  align-self: flex-end;
}

.price
{
  width: 142px;
  height: 27px;
}

.hotels-list-item img
{
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 72px; */
  margin-right: 30px;
}


